player-connection-mode=Listen
player-connection-guid=1549488391
player-connection-debug=1
player-connection-project-name=ShotgunRide
player-connection-ip=192.168.0.3
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f4223c1ae5094a8cba4cbf8add16951c
